extends layout

block content
  
  div.container-fluid.text-justify
    div.container.my-auto.text-right
      a.ml-0.mr-1.btn.btn-lg.bg-success.text-decoration-none.text-white(href="/displayFarmers") Home
      a.ml-1.mr-0.btn.btn-lg.bg-success.text-decoration-none.text-white(href="/logout") Logout
      
    if error
      div.container.my-5
        div.alert.alert-danger.alert-dismissible.fade.show
          button.close(type="button" data-dismiss="alert")
            span &times;
          p.lead #{error}
  
    div.container.my-5
      div.w-50.mx-auto.my-5
        h1.my-3.display-5 Insert new farmer
        form(action="/insertFarmer", method="POST")
          div.form-group
            input.form-control(type="text", name="name", placeholder="farmer name")
          div.form-group
            input.form-control(type="text", name="address", placeholder="farmer address")
          div.form-group
            input.form-control(type="text", name="city", placeholder="farmer city")
          div.form-group
            input.form-control(type="text", name="coordinates", placeholder="farmer coordinates")
          div.form-group
            button.w-100.btn.btn-lg.bg-success.text-white(type="submit") Insert
