extends layout

block content
  
  div.container.text-justify
    div.container.my-auto.text-right
      a.btn.btn-lg.bg-success.text-decoration-none.text-white(href="/") Home
    
    div.container.my-auto
    if error
      div.alert.alert-danger.alert-dismissible.fade.show
        button.close(type="button" data-dismiss="alert")
          span &times;
        p.lead #{error}

    div.container.my-auto
      h1.display-4 Sign up
      form(action="/signup", method="POST")
        div.form-group
          input.form-control(type="text", name="name", placeholder="name")
        div.form-group
          input.form-control(type="password", name="password", placeholder="password")
        div.form-group
          input.form-control(type="password", name="confirmPassword", placeholder="confirm password")
        div.form-group
          select.form-control(type="text", name="role")
            option(value="admin") admin
            option(value="user") user
        div.form-group
          button.w-100.btn.btn-lg.bg-success.text-white(type="submit") Sign up
