extends layout

block content
  
  div.container.text-justify
    div.container.my-auto.text-right
      a.btn.btn-lg.bg-success.text-decoration-none.text-white(href="/signup") Sign up
    
    if error
      div.container.my-5
        div.alert.alert-danger.alert-dismissible.fade.show
          button.close(type="button" data-dismiss="alert")
            span &times;
          p.lead #{error}
    
    div.container.my-5
      h1.display-4.text-center Sign in
      div.w-50.mx-auto.my-5
        form(action="/signin", method="POST")
          div.form-group
            input.form-control(type="text", name="name", placeholder="name", value=input ? input.name : '')
          div.form-group
            input.form-control(type="password", name="password", placeholder="password", value=input ? input.password : '')
          div.form-group
            button.w-100.btn.btn-lg.bg-success.text-white(type="submit") Sign in
          
